<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="../scripts/jquery-1.9.1.js"></script>
    <script src="../scripts/angular.js"></script>
    <script src="../scripts/angular-route.js"></script>  
    <script src="../scripts/bootstrap.js"></script>

    <!--css files-->
    <link href="../Styles/CSS/bootstrap.min.css" rel="stylesheet" />
    <link href="../Styles/CSS/style.css" rel="stylesheet" />  
    <link href="../Styles/CSS/map.css" rel="stylesheet" />

    <!--Controllers-->
    <script src="../Apps/app.js"></script>
    <script src="../Controller/loginController.js"></script>
    <script src="../Controller/registerController.js"></script>
    <script src="../Controller/showmapController.js"></script>

    <!--map api key-->
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyDiC1RjhWDH1dOnSh4VLWrATO4yRuvhN1Y" async="" defer="defer" type="text/javascript"></script>


</head>

<body>
    <div ng-view></div>        
                                            
</body>
</html>
