<!--login form-->
<!--<div class="container body-content" ng-controller="loginController">
    <div class="container" >-->
        <div class="card card-container">
            <div class="product">
                <img src="../Assets/login/login_logo.png" />
            </div>

            <div class="row" style="width:auto; height:20px">
            </div>

            <div style="float:left">
                <!--

        <span>isUser:{{isUser}}</span>
        <span>isDriver:{{isDriver}}</span> -->
                <table class="table-responsive">
                    <tr>

                        <td>
                            <a id="user" href="" style="float:left" ng-click="setUser() ; setUserImage();setDriverImage()">
                                <img src="{{userImage}}" />
                            </a>
                        </td>
                        <td>
                            <img class="img-responsive" src="../Assets/login/or.png"  />
                        </td>
                        <td>
                        <a id="driver" href="" style="float:left" ng-click="setDriver() ; setDriverImage();setUserImage()">
                                <img src="{{driverImage}}" />
                            </a>
                        </td>
                    </tr>
                </table>

            </div>
            <div class="row" style="width:auto; height:120px">
            </div>

            <div style="float:left">
                <form class="form-signin">
                    <span id="reauth-email" class="reauth-email"></span>
                    <input type="text" id="inputuserName" class="form-control" placeholder="User Name " ng-model="userName" required autofocus>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password"  ng-model="password" required>
                    <div class="btn-toolbar">
                        <button class="btn btn-primary btn-block btn-signin" type="button" ng-click="login()">Login</button>

                        <a href="#" class="forgot-password">
                            Forgot the password?
                        </a>
                        <button class="btn btn-primary btn-block btn-register" type="button" ng-click="register()">Register</button>
                        {{name}}
                    </div>
                </form><!-- /form -->

            </div>
        </div> <!--card-container--> 

        <!--</div>

        
</div>-->
