<nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
    <a class="navmenu-brand" href="#">Brand</a>
    <ul class="nav navmenu-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
    </ul>
</nav>
<div class="navbar navbar-default navbar-fixed-top">
    <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>

















<!--<nav role="navigation" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <!--<div class="navbar-header">
                <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">Brand</a>
            </div>
           
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-inverse left">
                    <li>
                        <a href="#">
                            <img src="../Assets/navigation/navigation.png" /><span style="float:left"></span>Sign Up
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../Assets/navigation/edit.png" />
                            Edit Profile
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../Assets/navigation/history.png" />
                            History
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../Assets/navigation/settings.png" />
                            Settings
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <img src="../Assets/navigation/help.png" />
                            Settings
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../Assets/navigation/about.png" />
                            About
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../Assets/navigation/logout.png" />
                            Logout
                        </a>
                    </li>


                </ul>
            </div>
        </div>
    </nav>-->-->

    <!--<nav class="navbar navbar-default">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Drivers</a>
                    <button type="button" style="nav-left:auto" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"></button>

                </div>
                <div class="collapse navbar-collapse" id="myNavbar">

                    <ul class="nav navbar-nav navbar-inverse left">
                        <li>
                            <a href="#">
                                <img src="../Assets/navigation/navigation.png" /><span style="float:left"></span>Sign Up
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="../Assets/navigation/edit.png" />
                                Edit Profile
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="../Assets/navigation/history.png" />
                                History
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="../Assets/navigation/settings.png" />
                                Settings
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <img src="../Assets/navigation/help.png" />
                                Settings
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="../Assets/navigation/about.png" />
                                About
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="../Assets/navigation/logout.png" />
                                Logout
                            </a>
                        </li>


                    </ul>
                </div>

            </div>
        </nav>-->
  

        <!--<div class="container body-content">
            <div class="container-fluid">
                <div ng-app="myApp" ng-controller="showmap">
                    <div id="googleMap" style="width:500px;height:380px;"></div>
                </div>

            </div>

        </div>-->









