<nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
        <a class="navmenu-brand" href="#">Brand</a>
        <ul class="nav navmenu-nav">
            <li>
                <a href="#">
                    <img src="../Assets/navigation/navigation.png" /><span style="float:left"></span>Sign Up
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../Assets/navigation/edit.png" />
                    Edit Profile
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../Assets/navigation/history.png" />
                    History
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../Assets/navigation/settings.png" />
                    Settings
                </a>
            </li>

            <li>
                <a href="#">
                    <img src="../Assets/navigation/help.png" />
                    Settings
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../Assets/navigation/about.png" />
                    About
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../Assets/navigation/logout.png" />
                    Logout
                </a>
            </li>
        </ul>
    </nav>
    <div class="navbar navbar-default navbar-fixed-top">
        <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

    </div>





    






























