<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand" style="display:block" href="#">
            <img src="../Assets/navigation/navigation.png" style="float:left;width:35px;height:35px;align-items:center;padding-bottom:10px" /><span style="float:left;font-size:small" ng-bind="username">Username</span>
        </a>
        <a class="navbar-brand navbar" href="#">Drivers</a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <br />
        <br />
        <form class="navbar-form navbar-left" role="search">
            <div class="form-inline">
                <div class="content row">
                    <div class="col-xs-6 " style="padding-right: 5px;">
                        <label class="control-label" style="color:white" for="mylocation">My Location</label>
                        <input type="text" class="form-control" style="font-size:small" id="mylocation" placeholder="My Location">
                    </div>
                    <div class="col-xs-6 " style="padding-right: 5px;">
                        <label class="control-label" style="color:white" for="destination">Destination</label>
                        <input type="text" class="form-control" style="font-size:small" id="destination" placeholder="Destination">
                    </div>
                </div>

            </div>
        </form>


    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">

            <li class="sidebar-brand">
                <a href="#">
                    <img src="../Assets/navigation/edit.png" />
                    Edit Profile
                </a>
            </li>
            <li class="sidebar-brand">
                <a href="#">
                    <img src="../Assets/navigation/history.png" />
                    History
                </a>
            </li>
            <li class="sidebar-brand">
                <a href="#">
                    <img src="../Assets/navigation/settings.png" />
                    Settings
                </a>
            </li>
            <li class="sidebar-brand">
                <a href="#">
                    <img src="../Assets/navigation/help.png" />
                    Help
                </a>
            </li>
            <li class="sidebar-brand">
                <a href="#">
                    <img src="../Assets/navigation/about.png" />
                    About
                </a>
            </li>
            <li class="sidebar-brand">
                <a href="#">
                    <img src="../Assets/navigation/logout.png" />
                    Logout
                </a>
            </li>
        </ul>

    </div>
</nav>

