<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../scripts/angular.min.js"></script>
    <script src="../scripts/angular-route.js"></script>
    <script src="../scripts/angular-route.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
                <span style="color:white;font-family:Arial;font-size:x-large;">  Register </span>
            </div>

        </div>
<div class="container">
    <div class="card card-container">
        
        <!--<div class="row" style="width:auto; height:10px">
        </div>-->

        <div style="float:left">
            <form class="form-signin" ng-controller="loginController">
                <div class="row">
                    <img src="../Assets/register/add_picture.png" class="center-block" />
                </div>
                <div class="row">
                    <span style="text-align:center">Upload Image</span>
                </div>
           
                <span id="reauth-email" class="reauth-email"></span>
                <!--<table>
                    <tr>
                        <td>
                            <ng-form class="form-group">
                                <input type="text" id="inputfirstName" class="form-control" placeholder="First Name" required autofocus>
                            </ng-form>
                        </td>
                        <td>
                            <ng-form class="form-group">
                                <input type="text" id="inputlastName" class="form-control" placeholder="Last Name" required>
                            </ng-form>
                        <td>
                    </tr>
                </table>-->
                <ul ng-repeat="error in errorMessages">
                    <li>{{error}}</li>
                </ul>
                <ng-form class="form-group">
                    <input type="text" id="inputuserName" class="form-control" ng-model="registerUserName" placeholder="User Name" required>
                </ng-form>
                
                <ng-form class="form-group">
                    <input type="email" id="inputemail" class="form-control" ng-model="registerEmail" placeholder="E mail" required />
                </ng-form>
              
                <ng-form class="form-group">
                    <input type="password" id="inputPassword" class="form-control" ng-model="registerPassword" placeholder="Password" required />
                </ng-form>
                    <div class="row" style="width:auto; height:20px">
                    </div>
                    <div class="btn-toolbar">
                        <button class="btn btn-primary btn-block btn-register" ng-click="submit()" type="button">Register</button>
                        <!--<button type="submit" class="btn btn-primary btn-block btn-register" >Register</button>-->
                    </div>
</form><!-- /form -->
            <span>{{user.userName}}</span>
        </div>
    </div><!-- /card-container -->
</div><!-- /container -->


<script src="../Apps/app.js"></script>
<link href="../Styles/CSS/bootstrap.min.css" rel="stylesheet" />
<link href="../Styles/CSS/style.css" rel="stylesheet" />

</body>
</html>



