
    <div class="container">
        <div class="card card-container">
            <div class="product">
                <div class="row">
                    <img src="../Assets/register/add_picture.png" />
                </div>
                <div class="row">
                    <span>Upload Image</span>
                </div>
            </div>
            <div class="row" style="width:auto; height:60px">
            </div>

            <div style="float:left">
                <form class="form-signin">
                    <div class="row">
                        <img src="../Assets/register/add_picture.png" />
                    </div>
                    <div class="row">
                        <span>Upload Image</span>
                    </div>

                    <span id="reauth-email" class="reauth-email"></span>


                    <input type="text" id="inputfirstName" class="form-control" placeholder="First Name" required autofocus>
                    <input type="text" id="inputlastName" class="form-control" placeholder="Last Name" required>
                    <input type="text" id="inputuserName" class="form-control" ng-model="registerUserName" placeholder="User Name" required>
                    <input type="email" id="inputemail" class="form-control" ng-modle="registerEmail" placeholder="E mail" required />
                    <input type="password" id="inputPassword" class="form-control" ng-model="registerPassword" placeholder="Password" required />

                    <div class="btn-toolbar">
                        <button class="btn btn-primary btn-block btn-register" ng-click="register()" type="button">Register</button>
                    </div>
                </form><!-- /form -->

            </div>
        </div><!-- /card-container -->
    </div><!-- /container -->





